<!DOCTYPE html>
<html>
<head>
    <title>SCADA Base Page</title>
</head>
<body style="font-family: sans-serif; text-align: center; margin-top: 40px;">
    <img src="/static/icons/LogoModbus.svg" alt="Modbus Logo" style="height: 120px;"><br><br>

    <h1>Welcome to SCADA Toolkit</h1>
    <p>Select an option below:</p>

    <button onclick="location.href='/connection_tester'" style="text-align: center; padding: 10px 20px; font-size: 16px;">
        ➡ Go to Connection Tester
    </button>
    <button onclick="location.href='/modbusrtu_inspector'" style="text-align: center; padding: 10px 20px; font-size: 16px;">
        ➡ Go to Modbus RTU Bus Inspector
    </button>
</body>
</html>
